.nav-link {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
}

.form-label {
  color: #344054 !important;
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  display: block;
}

#io p,
#invoice p {
  padding: 0;
  margin: 0;
}

.io-title {
  font-size: 1em;
  font-weight: 700;
}

.io-text {
  font-size: 1em;
  font-weight: 400;
}

.io-text-bold {
  font-size: 1em;
  font-weight: 700;
}

#invoice table td,
th {
  padding: 5px;
}

#invoice .total-table td {
  padding: 0px;
}
